<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/busstyle.css">
    <script src="https://kit.fontawesome.com/295da72d04.js" crossorigin="anonymous"></script>
    <!-- <script src="Bus_list.js"></script> -->
    <title>Bus list</title>
</head>

<body>
    <i class="fas fa-bars" id="btn"></i>
    <div class="Container">
        <div class="Bus_list">
            <div class="Bus" id="Bus_no1">Bus No.1</div>
            <div class="Bus" id="Bus_no2">Bus No.2</div>
            <div class="Bus" id="Bus_no3">Bus No.3</div>
            <div class="Bus" id="Bus_no4">Bus No.4</div>
            <div class="Bus" id="Bus_no5">Bus No.5</div>
            <div class="Bus" id="Bus_no6">Bus No.6</div>
            <div class="Bus" id="Bus_no7">Bus No.7</div>
            <div class="Bus" id="Bus_no8">Bus No.8</div>
            <div class="Bus" id="Bus_no9">Bus No.9</div>
            <div class="Bus" id="Bus_no10">Bus No.10</div>
        </div>
        <div class="Bus_rout">
            <div class="Rout" id="Bus_no"><a href="/read">Kolhapur</a><i class="fa-solid fa-right-long"></i>
                Ichalkaranji</div>
            <div class="Rout" id="Bus_no2">Sangali <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no3">Miraj <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no4">Kolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no5">Kolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no6">Kolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no7">Kolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no8">Kolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no9">Kolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
            <div class="Rout" id="Bus_no10">BKolhapur <i class="fa-solid fa-right-long"></i> Ichalkaranji</div>
        </div>
        <ul id="slider">
            <li class="slider_elements"><i class="fa-solid fa-house" id="home"></i></i><a href="#">Home</a></li>
            <li class="slider_elements"><i class="fa-solid fa-book" id="Attendance"></i><a href="#">Attendance</a></li>
            <li class="slider_elements"><i class="fa-solid fa-location-dot" id="Tracking"></i><a href="#">Tracking</a>
            </li>
            <li class="slider_elements"><i class="fa-solid fa-list-ul" id="Student_list"></i><a href="#">Student
                    list</a></li>
            <li class="slider_elements"><a href="#">XYZ</a></li>
            <li class="slider_elements"><a href="#">XYZ</a></li>
        </ul>
    </div>
</body>

</html>