<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styleCreate.css">
    <script src="https://kit.fontawesome.com/295da72d04.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="heading">
        <h1>Students</h1>
    </div>
    <div class="search_container">
        <form action="/create" method="post">
            <input type="text" placeholder="Student name" name="name" class="search-bar">
            <input type="text" placeholder="PRN" name="PRN" class="search-bar">
            <input type="text" placeholder="Place" name="place" class="search-bar">
            <div class="btn"><button class="Add_New" type="submit" value="create user">create</button></div>
        </form>
    </div>

    <a href="/read" class="a">Back to student list</a><br>
    <a href="/list" class="a">Bus list</a><br>
    <a href="http://127.0.0.1:5500/index.html" class="a">Attendance</a>


</body>

</html>