<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="container">

        <form action="" class="form">
            <h2>Login Here ...</h2>


            <div class="label"> Username :</div>
            <input type="text" placeholder="Username" class="input username" id="username" name="username">
            <small class="small">Error massage </small>
            <br>
            <div class="label">Email :</div>
            <input type="text" placeholder="Email" class="input email" id="email">
            <small class="small1">Error massage </small>
            <br>
            <div class="label">Password :</div>
            <input type="password" placeholder="Password" class="input password" id="password">
            <small class="small2">Error massage </small>
            <br>
            <div class="label">Password conformation : </div>
            <input type="password" placeholder="Password again" class="input passwordagain" id="passwordagain">
            <small class="small3">Error massage </small>
            <br>
            <button class="submit">Sign up</button>
            <button class="click hiddenclick"><a href="http://localhost:3002/list">Click Here</a></button>
    </div>
    </div>
    </form>
    </div>
    <script src="/javascript/login.js"></script>
</body>

</html>