<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Login Buttons</title>
</head>

<body>
    <h2 class="header">Login to your account</h2>
    <div class="button-container">
        <button class="login-button user-login"><a href="/student_login">User Login</a></button>
        <button class="login-button admin-login"><a href="/login">Admin Login</a></button>
    </div>
</body>

</html>