/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #f1f5f9;
}

/* MAIN LAYOUT */
.main {
    display: flex;
}

/* SIDEBAR */
#sidebar {
    width: 230px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding: 20px;
    position: fixed;
}

.logo {
    margin-bottom: 30px;
    text-align: center;
}

#sidebar ul {
    list-style: none;
}

#sidebar li {
    margin: 15px 0;
}

#sidebar a {
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

#sidebar a:hover {
    background: #334155;
}

/* CONTENT */


/* HEADER */
.page-header h1 {
    margin-bottom: 20px;
    color: #1e293b;
}

/* FORM CARD */
.form-card {
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* FORM */
.form-card label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.form-card input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s;
}

.form-card input:focus {
    border-color: #2563eb;
    box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

/* BUTTON */
.form-card button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(135deg, #2563eb, #06b6d4);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.form-card button:hover {
    transform: scale(1.05);
}

/* CENTER WHOLE BLOCK */
.content {
    margin-left: 670px;
    min-height: 100vh;
    /* better than height */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* GROUP (title + form) */
.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* space between title and form */
}

/* TITLE ALIGN */
.page-header h1 {
    color: #1e293b;
    text-align: center;
}